<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>AMDI Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>AMDI Student Progress</h1>
  <p><a href="/login">Login</a></p>
  <p>API: <a href="/api/all">/api/all</a></p>
</body>
</html>
